Package: com.nmcdonald.noautoshowmediacontrols
Name: NoAutoShowMediaControls
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Nicholas McDonald (@nickmcd19)
Author: Nicholas McDonald (@nickmcd19)
Section: Tweaks
